/* Start Deafult Theme */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-brand,
.about .Big,
.Testimonials span,
.Statistics .data h1,
footer .copy span,
#scroll-top{    
    color:#2980D9;
}
.price_table .price-box p,
.option-box .color-option ul li,
.option-box .gear-op,
.carousel-indicators .active
{background-color:#2980D9;}
 
.Testimonials .carousel-indicators li.active,
.option-box .color-option{border:2px solid #2980D9;}
/* End Deafult Theme */